@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

:root {
    --main-bg-color: #E9E9E9;
    --primary-text-color: #424242;
    --accent-color: #FF3F3C;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--primary-text-color);
    background: var(--main-bg-color);
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

header {
    padding: 20px;
    margin-bottom: 80px;
}

header h1 {
    margin: 0;
    font-weight: normal;
}

h3 {
    text-align: center;
    font-size: 64px;
}

p {
    font-size: 32px;
}

main {
    background: url('../images/polaroid.png') no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
}

.hero {
    text-align: center;
    min-height: 800px;
}

.hero h2 {
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}

ul li {
    font-size: 32px;
}

.details ul li.wifi {
    background: url(../images/wifi.svg) no-repeat center left;
    background-size: 40px;
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 100px;
}

.details ul li.cloud {
    background: url(../images/cloud.svg) no-repeat center left;
    background-size: 40px;
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 100px;
}

.details ul li.qr {
    background: url(../images/qrcode.svg) no-repeat center left;
    background-size: 40px;
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 100px;
}

.details ul li.photo {
    background: url(../images/photo.svg) no-repeat center left;
    background-size: 40px;
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 100px;
}

form {
    background: #D6D7D6;
    border-radius: 25px;
    height: 150px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

input {
    height: 100px;
}

button {
    font-weight: bold;
}
