body {
    font-family: Helvetica, sans-serif;
    color: #424242;
    background: #E9E9E9;
    padding: 0 40px;
    text-align: center;
}

h1 {
    font-size: 100px;
}

h3 {
    text-align: left;
}

.pol-img {
    width: 500px;
}